<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<body>
    <div class="addWrapper">
        <div class="addTitle">Add</div>
            <div class="forms">
                {% block content%}
                    <form action="index.html" method="post">
                        <h1>Product Name</h1>
                        <input type="text" name="Product_name" value={Product_name} />
                    </form>
                    <form onSubmit={handleSubmit}>
                        <h1>Location</h1>
                        <input type="text" name="Location_name" value={Location_name} />
                        <div>
                            <button>Submit</button>
                        </div>
                    {% endblock %}
                </form>
            </div>
        </div>
</body>
</html>