body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p, h1 {
  margin: 0px;
}

/* home */

.homeWrapper {
  background-image: url("/src/assets/Home.jpg");
  background-position: 0px -90px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.heading {
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 12px 0px;
  text-transform: capitalize;
  font-weight: bold;
}

.topic {
  text-align: center;
  margin: 50px auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
}

.productsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.productsChildWrapper {
  height: 300px;
  width: 300px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
}

.productsChildWrapper:nth-child(1) {
  background-image: url("./assets/b1.png");
}

.productsChildWrapper:nth-child(2) {
  background-image: url("./assets/b2.png");
}

.productsChildWrapper:nth-child(3) {
  background-image: url("./assets/b3.png");
}

.productsChildWrapper p {
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: bold;
}

.productsChildWrapper span {
  font-size: 15px;
}

/* add */

.addWrapper {
  min-height: 100vh;
}

.addWrapper div:first-child, .viewWrapper div:first-child, .editWrapper div:first-child {
  margin: 30px auto;
  padding: 13px;
  text-align: center;
  min-width: 200px;
  width: 300px;
  height: 46px;
  border-radius: 30px;
  background: linear-gradient(45deg, #6054b6, #61c4e8);
  box-sizing: border-box;
  font-size: 18px;
  color: white;
  font-weight: bold;
}