<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css"/>
</head>
<body>
    <!-- <div class="addWrapper">
        <div class="addTitle">Add</div> -->
            <!-- <div class="forms"> -->
                
                    <!-- <h1>Product Name</h1>
                    <input type="text" name="product_name" />
                    <h1>Product Quantity</h1>
                    <input type="text" name="product_qty" />
                    <h1>Location</h1>
                    <input type="text" name="location_name" />
                    <div>
                        <button>Submit</button> -->
                          <!-- </div> -->
                    <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <div class="container">
        <div class="left">
            <div class="header">
            <h2 class="animation a1">Add Products and Location</h2>
            </div>
            <form method="post"  
                <div class="form">
                    <input type="text" class="form-field animation a3" name="product_name"  placeholder="Product Name">
                    <input type="text" class="form-field animation a4" name="product_qty"  placeholder="Product Quantity">
                    <input type="text" class="form-field animation a4" name="location_name"  placeholder="Location Name">
                    <button class="animation a6">SUBMIT</button>
                </div>
            </form
        </div>
    </div>
</body>
</html>