<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <div class="left">
            <div class="header">
            <h2 class="animation a1">Edit Products and Location</h2>
            </div> 
            <br>
        <form method="post">
            <div class="form">
                <h5>Update Product and Quantity</h5>
                <select class="browser-default custom-select" name="dropdown_update_product" method="get">
                    <option value="" disabled selected ></option>
                    {% for item in dropdown_product %}
                        <option value= "{{item}}">{{item}}</option>"
                    {% endfor %}
                </select>
                <input type="text" class="form-field animation a3" name="updated_product_name"  placeholder="Enter New Name">
                <input type="text" class="form-field animation a3" name="updated_qty"  placeholder="Enter New Quattity">
                <br>
                <h5>Update Location</h5>
                <select id="dropdown_floaction" class="browser-default custom-select" name="dropdown_update_location" method="get">
                    <option value="" disabled selected>Locations</option>
                    {% for item in dropdown_update_location %}
                        <option value= "{{item}}">{{item}}</option>"
                    {% endfor %}
                </select>
                <input type="text" class="form-field animation a3" name="updated_location_name"  placeholder="Enter New Name">
                <button class="animation a6" name="btnupdate" value="btnupdate">UPDATE</button>
                </div>
            </form>
            <br>
            <br>
            <form method="post">
                <div class="form">
                    <h5>Move Product</h5>
                    <select id="dropdown_product" class="browser-default custom-select" name="dropdown_product" method="get">
                        <option value="" disabled selected >Products List</option>
                        {% for item in dropdown_product %}
                            <option value= "{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <input id="move_qty" type="text" class="form-field animation a3" name="move_qty"  placeholder="Enter quantity">
                    <br>
                    <h5>Select the Location</h5>
                    <select id="dropdown_floaction" class="browser-default custom-select" name="dropdown_from_location" method="get">
                        <option value="" disabled selected>From Location</option>
                        {% for item in dropdown_from_location %}
                            <option value= "{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select id="dropdown_tloaction" class="browser-default custom-select" name="dropdown_to_location" method="get">
                        <option value="" disabled selected>To Location</option>
                        {% for item in dropdown_to_location %}
                            <option value= "{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <button class="animation a6" name="btnsubmit" value="btnsubmit">SUBMIT</button>
                    </div>
                </form>
        </div>
    </div>    
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
</body>
</html>