<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inventory Management System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body>
    <div class="homeWrapper">
      <p class="heading">Designed by Alfred Joel</p>
      <div class="topicWrapper">
        <h1 class="topic">Inventory Management</h1>
        <h1 class="topic2">System</h1>
      </div>
      <div class="productsWrapper">
        <a style="text-decoration: none" href="/Add" >
          <div class="productsChildWrapper">
            <p>Add</p>
            <span>Products / Location</span>
          </div>
        </a>
        <a style="text-decoration: none" href="/View">
          <div class="productsChildWrapper">
            <p>View</p>
            <span>Products / Location</span>
          </div>
        </a>
        <a style="text-decoration: none" href="/Edit">
          <div class="productsChildWrapper">
            <p>Edit</p>
            <span>Products / Location</span>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
