<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <div class="container">
        <div class="left">
          <div class="header">
            <h2 class="animation a1">Add Products and Location</h2>
          </div>
          <form method="post"  
            <div class="form">
              <input type="text" class="form-field animation a3" name="product_name"  placeholder="Product Name">
              <input type="text" class="form-field animation a4" name="product_name"  placeholder="Product Quantity">
              <input type="text" class="form-field animation a4" name="product_name"  placeholder="Location Name">
              <button class="animation a6">SUBMIT</button>
            </div>
          </form
        </div>
      </div>
</body>
</html>